
<div class="card">
    <div class="card-body">

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Primer Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Segundo Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Ciudad de Residencia</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          
      
      <button class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
  </div>